@import url('../../theme/fonts.scss');


// Base colors
$primaryColor: #3D87FF;
$success: #34C98E;
$error: #F32323;
$dark: #1E253A;

// Gradient colors
$primaryColor: #548df8;
$secondary: rgb(82, 197, 140);
$secondary2: #3d87ff;
$tertiary: rgb(251, 150, 94);


// Extra colors

$lavendar: #e4e7f8;
$lavendarShade: #bbd0f8;
$antiqueWhite: #f6eade;
$antiqueWhiteShade: #f8c999;
$lightcyan: #def8ed;
$lightcyanShade: #aaeace;
$linen: #f3e7e7;
$linenShade: #f3b1b0;

// Greys
$grey100: #fafafa;
$grey200: #a7aab1;
$grey300: #e5e6e9b6;
$grey500: #838591;
$grey600: #1e243a;

// Typography

$extraBoldFont: 'Gilroy-ExtraBold';
$boldFont: 'Gilroy-Bold';
$mediumFont: 'Gilroy-Medium';
$regularFont: 'Gilroy-Regular';
$lightFont: 'Gilroy-Light';


// Text Colors

$infoText: #2d4ef5;
$successText: #4ce1a7;
$errorText: #e24c4d;
$headingText: #1e243a;
$bodyText: #838591;


// Text sizes

$heading: 22px;
$heading1: 20px;
$heading2: 18px;
$heading3: 16px;
$importantBodyTextSize: 14px;
$smallBodyTextSize: 12px;
$bodyTextSize: 11px;
$extraSmallbodyTextSize: 8px;


// Dimensions

$appWidth: 327px;
$gutter: 16px;
$margin: 24px;
$columnWidth: 53px;


// Border

$activeTabBold: 1px solid $primaryColor;




$insetColor: #E5E4E2;
$insetColor1: #D3D3D3;
$insetColor2: #c3c3c3;
$insetColor3: #cfcccc67;
$insetBlkColor: #0000008a;
$secondaryColor: #eeb55f;
$borderBottom: 0.1px inset $insetColor3;
$borderBottom2: 0.01px inset $insetColor3;



.main-container {
  height: 100%;
  background-color: whitesmoke;
  position: relative;

  &.cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: $gutter 0;
    height: 100%;

    .cards_section {
      width: $appWidth;


      // Navigation info
      &.navigation-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 7%;
        margin: 0 0 1.4rem;


        .page-name-wrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 50%;
          font-size: $heading;
          color: $headingText;
          font-family: $extraBoldFont;
        }


        .arrow-back-wrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0.15rem 0 0;
          width: 10%;

          ion-icon {
            height: 1.5rem;
            width: 1.5rem;
            color: $grey600;
          }
        }

        .add-card-wrapper {
          display: flex;
          justify-content: flex-end;
          width: 40%;
          color: $success;


          ion-icon {
            margin-right: 0.4rem;
          }

        }


      }


      // cards

      &.cards {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 100%;
        z-index: 2;

        .cards-content {
          display: flex;
          flex-direction: column;
          padding: 0 0.5rem;


          // Mini cards wrapper
          .mini-cards-wrapper {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .wallet-card-wrapper.mini-card {
              height: 7rem;

              .wallet-card-background {
                content: "";
                position: absolute;
                height: 6.5rem;
                width: 6.5rem;
                border-radius: 50%;
                z-index: 1;
                bottom: -2.2rem;
                right: -1.5rem;
                background: rgb(123, 191, 252);
                background: linear-gradient(352deg, rgba(123, 191, 252, 1) 0%, rgba(118, 167, 249, 0.4822303921568627) 80%);

                &.two {
                  bottom: 1.5rem;
                  right: -3.5rem;
                  background: rgb(123, 191, 252);
                  background: linear-gradient(225deg, rgba(123, 191, 252, 1) 0%, rgba(118, 167, 249, 0.4514180672268907) 80%);
                }

              }

              .wallet-card-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0.8rem;
                margin: 0.2rem 0 0;
                z-index: 1;

                &.one {

                  .card-name {
                    font-family: $lightFont;
                    color: $grey300;
                    font-size: $bodyTextSize;

                  }

                  ion-icon {
                    height: 0.8rem;
                    width: 0.8rem;
                  }
                }

                &.two {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  font-family: $boldFont;
                  font-size: $heading;
                  word-spacing: 0.1rem;

                  .asterix {
                    margin-right: 0.2rem;
                    display: flex;
                    align-items: flex-end;
                    padding-top: 0.2rem;
                    font-size: $bodyTextSize;


                    &.visible {
                      padding-top: 0;
                    }
                  }

                }

                &.three {
                  display: flex;
                  flex-direction: column;
                  // align-items: center;
                  width: 100%;

                  .single-earning-detail {
                    display: flex;
                    // align-items: center;
                    width: 100%;
                    // margin: 0.5rem 0;

                    .time-box,
                    .riders-box,
                    .cash-box {
                      // padding: 0.7rem 0;
                    }

                    .time-box_value,
                    .riders-box_value,
                    .cash-box_value {
                      margin: 0.1rem 0 0;
                      font-family: $boldFont;
                      font-size: 8px;
                    }

                    .time-box_legend,
                    .riders-box_legend,
                    .cash-box_legend {
                      margin: 0;
                      font-family: $lightFont;
                      font-size: 8px;
                      color: $grey300;
                    }

                    .time-box {
                      text-align: left;
                      // width: 60.19%;
                    }

                    .riders-box {
                      // width: 25.66%;
                      text-align: left;
                    }

                    .cash-box {
                      text-align: right;
                      // width: 20.15%;
                    }

                  }

                }
              }

              // Add new card
              &.add-new-card {
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                border: 1px solid $success;
                color: $success;

                .add-card-wrapper {
                  display: flex;
                  justify-content: flex-end;
                  color: $success;


                  ion-icon {
                    margin-right: 0.4rem;
                  }

                }

              }
            }
          }




          .wallet-card-wrapper {
            display: flex;
            position: relative;
            flex-direction: column;
            height: 11.5rem;
            border-radius: 8px;
            overflow: hidden;
            background: rgb(107, 179, 252);
            background: linear-gradient(184deg, rgba(107, 179, 252, 1) 0%, rgba(52, 90, 245, 1) 93%);


            &.main-card {

              margin-bottom: 2rem;
            }


            &.visa {
              background: rgb(249, 143, 83);
              background: linear-gradient(225deg, rgba(249, 143, 83, 0.5410539215686274) 0%, rgba(246, 123, 52, 0.5662640056022409) 83%);
            }

            &.paystack {
              background: rgb(130, 232, 172);
              background: linear-gradient(225deg, rgba(130, 232, 172, 1) 0%, rgba(121, 222, 166, 0.5074404761904762) 83%);
            }

            &.mastercard {
              // display: flex;
              // position: relative;
              // flex-direction: column;
              // height: 11.5rem;
              // width: $appWidth;
              // border-radius: 15px;
              // overflow: hidden;
              // background: rgb(107, 179, 252);
              // background: linear-gradient(184deg, rgba(107, 179, 252, 1) 0%, rgba(52, 90, 245, 1) 93%);
            }





            .wallet-card-background {
              content: "";
              position: absolute;
              height: 10.5rem;
              width: 10.5rem;
              border-radius: 50%;
              z-index: 1;
              bottom: -3.2rem;
              right: -0.6rem;
              background: rgb(123, 191, 252);
              background: linear-gradient(352deg, rgba(123, 191, 252, 1) 0%, rgba(118, 167, 249, 0.4822303921568627) 80%);

              &.two {
                bottom: 3rem;
                right: -4rem;
                background: rgb(123, 191, 252);
                background: linear-gradient(225deg, rgba(123, 191, 252, 1) 0%, rgba(118, 167, 249, 0.4514180672268907) 80%);
              }

            }

            .wallet-card-section {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 1.5rem;
              margin: 0.4rem 0 0;
              z-index: 1;

              &.one {

                .card-name {
                  font-family: $lightFont;
                  color: $grey300;

                }

                ion-icon {
                  height: 2rem;
                  width: 2rem;
                }
              }

              &.two {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-family: $boldFont;
                font-size: $heading;
                word-spacing: 0.1rem;

                .asterix {
                  margin-right: 0.5rem;
                  display: flex;
                  align-items: flex-end;
                  padding-top: 0.5rem;

                  &.visible {
                    padding-top: 0;
                  }
                }

              }

              &.three {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .single-earning-detail {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  // margin: 0.5rem 0;

                  .time-box,
                  .riders-box,
                  .cash-box {
                    // padding: 0.7rem 0;
                  }

                  .time-box_value,
                  .riders-box_value,
                  .cash-box_value {
                    margin: 0.4rem 0 0;
                    font-family: $boldFont;
                    font-size: $heading3;
                  }

                  .time-box_legend,
                  .riders-box_legend,
                  .cash-box_legend {
                    margin: 0;
                    font-family: $lightFont;
                    font-size: $importantBodyTextSize;
                    color: $grey300;
                  }

                  .time-box {
                    text-align: left;
                    width: 60.19%;
                  }

                  .riders-box {
                    width: 25.66%;
                    text-align: left;
                  }

                  .cash-box {
                    text-align: right;
                    width: 20.15%;
                  }

                }

              }
            }
          }
        }






      }
    }
  }
}
