<ion-header class="ion-no-border"> </ion-header>

<ion-content>
  <div class="main-container cards">
    <!-- Page Navigation Information -->
    <div class="cards_section navigation-info">
      <span class="arrow-back-wrapper">
        <ion-icon src="../../assets/icon/arrow-back.svg"></ion-icon>
      </span>
      <span class="page-name-wrapper"> My Cards </span>
      <span class="add-card-wrapper">
        <ion-icon src="../../assets/icon/rounded-plus.svg"> </ion-icon>
        Add card
      </span>
    </div>
    <!-- Page Navigation Information Ends -->

    <!--  cards  -->
    <div class="cards_section cards">
      <div class="cards-content">
        <div class="wallet-card-wrapper mastercard main-card">
          <span class="wallet-card-background one"></span>
          <span class="wallet-card-background two"></span>
          <span class="wallet-card-section one">
            <p class="card-name">Shopping card</p>
            <ion-icon src="../../assets/icon/mastercard.svg"></ion-icon>
          </span>
          <span class="wallet-card-section two">
            <span class="asterix">****</span>
            <span class="asterix">****</span>
            <span class="asterix">****</span>
            <span class="asterix visible">3960</span>
          </span>
          <span class="wallet-card-section three">
            <div class="single-earning-detail">
              <span class="time-box">
                <span class="time-box_legend">CARD HOLDER</span>
                <p class="time-box_value">SUSAN ROCKWELL</p>
              </span>

              <span class="riders-box">
                <span class="riders-box_legend">EXPIRES</span>
                <p class="riders-box_value">10/22</p>
              </span>

              <span class="cash-box">
                <span class="cash-box_legend">CVV</span>
                <p class="cash-box_value success">***</p>
              </span>
            </div>
          </span>
        </div>
        <!-- Mini cards -->
        <div class="wallet-card-wrapper mastercard mini-card one">
          <span class="wallet-card-background one"></span>
          <span class="wallet-card-background two"></span>
          <span class="wallet-card-section one">
            <p class="card-name">Shopping card</p>
            <ion-icon src="../../assets/icon/mastercard.svg"></ion-icon>
          </span>
          <span class="wallet-card-section two">
            <span class="asterix">****</span>
            <span class="asterix">****</span>
            <span class="asterix">****</span>
            <span class="asterix visible">3960</span>
          </span>
          <span class="wallet-card-section three">
            <div class="single-earning-detail">
              <span class="time-box">
                <span class="time-box_legend">CARD HOLDER</span>
                <p class="time-box_value">SUSAN ROCKWELL</p>
              </span>

              <span class="riders-box">
                <span class="riders-box_legend">EXPIRES</span>
                <p class="riders-box_value">10/22</p>
              </span>

              <span class="cash-box">
                <span class="cash-box_legend">CVV</span>
                <p class="cash-box_value success">***</p>
              </span>
            </div>
          </span>
        </div>
        <!-- Mini cards Ends -->
      </div>
    </div>
    <!--  cards Ends -->
  </div>
</ion-content>
