<ion-header class="ion-no-border"> </ion-header>

<ion-content>
  <div class="main-container form">
    <!-- Page Navigation Information -->
    <div class="form_section navigation-info">
      <span class="arrow-back-wrapper">
        <ion-icon src="../../assets/icon/arrow-back.svg"></ion-icon>
      </span>
      <span class="page-name-wrapper"> Log in </span>
    </div>
    <!-- Page Navigation Information Ends -->

    <!--  form  -->
    <div class="form_section form">
      <div class="form-content">
        <div class="form-logo">
          <ion-icon src="../../assets/icon/wallet.svg"></ion-icon> Wallet App
        </div>
        <!-- Form fields Start Here -->
        <!-- First field -->
        <div class="form-field">
          <input
            class="form-field-input"
            placeholder="           Phone number"
          />
          <span class="time-box">
            <ion-icon src="../../assets/icon/mobile.svg"></ion-icon>
          </span>
        </div>

        <!-- <span class="riders-box">
          <span class="riders-box_legend">Email</span>
        </span> -->
        <!-- </input> -->
        <!-- Second field -->
        <div class="form-field">
          <input class="form-field-input" placeholder="           Password" />

          <span class="time-box">
            <ion-icon src="../../assets/icon/lock.svg"></ion-icon>
          </span>

          <span class="cash-box">
            <span class="cash-box_legend">
              <ion-icon name="eye-off"></ion-icon>
              <!-- For when user wants to view password -->
              <!-- <ion-icon name="eye"></ion-icon> -->
            </span>
          </span>
        </div>

        <!-- Third field -->
        <div class="form-field non-field">
          <span class="time-box">
            <ion-icon src="../../assets/icon/empty-check-box.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <span class="riders-box_legend">Remember</span>
          </span>

          <span class="cash-box">
            <span class="cash-box_legend">
              <a href="#"> Forgot password </a>
            </span>
          </span>
        </div>
        <!-- Form fields End Here -->

        <!-- Form button -->
        <div class="form-actions">
          <div class="form-button start">LOGIN</div>
          <!-- Call to Action -->
          <div class="call-to-action">
            Don't you have an account?
            <span class="action">
              <a href="#"> Register </a>
            </span>
          </div>
          <!-- Call to Action Ends -->
        </div>
        <!-- Form button Ends -->
      </div>
    </div>
    <!--  form Ends -->
  </div>
</ion-content>
