<ion-header class="ion-no-border"> </ion-header>

<ion-content>
  <div class="main-container transaction-history">
    <!-- Page Navigation Information -->
    <div class="transaction_section navigation-info">
      <span class="arrow-back-wrapper">
        <ion-icon src="../../assets/icon/arrow-back.svg"></ion-icon>
      </span>
      <span class="page-name-wrapper"> Transactions </span>
    </div>
    <!-- Page Navigation Information Ends -->

    <!-- Sort order buttons -->
    <div class="transaction_section sort-order-buttons">
      <span class="sort-order-button-single one">
        <p class="sort-order-button-name">All</p>
      </span>
      <span class="sort-order-button-single two">
        <ion-icon src="../../assets/icon/rounded-arrow-down.svg"></ion-icon>
        <p class="sort-order-button-name">Received</p>
      </span>
      <span class="sort-order-button-single three">
        <ion-icon src="../../assets/icon/rounded-arrow-up.svg"></ion-icon>
        <p class="sort-order-button-name">Spend</p>
      </span>
    </div>
    <!-- Sort order buttons Ends -->
    <!--  Transaction History -->
    <div class="transaction_section transactions">
      <div class="transactions-heading">
        <span class="time-box"> Today </span>
      </div>

      <div class="transactions-content">
        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/facebook.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Facebook</p>
            <span class="riders-box_legend">Social media</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value success">+7000</p>
            <span class="cash-box_legend">12:45pm</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/uber.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Uber</p>
            <span class="riders-box_legend">Transport</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 9800</p>
            <span class="cash-box_legend">05:10am</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box"
            ><ion-icon src="../../assets/icon/google.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Google</p>
            <span class="riders-box_legend">Tech</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 500</p>
            <span class="cash-box_legend">03: 45am</span>
          </span>
        </div>
        <div class="single-earning-detail">
          <span class="time-box"
            ><ion-icon src="../../assets/icon/facebook.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Facebook</p>
            <span class="riders-box_legend">Social media</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value success">+ 200</p>
            <span class="cash-box_legend">14:09pm</span>
          </span>
        </div>
      </div>
    </div>
    <div class="transaction_section transactions">
      <div class="transactions-heading">
        <span class="time-box"> Yesterday </span>
      </div>

      <div class="transactions-content">
        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/facebook.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Facebook</p>
            <span class="riders-box_legend">Social media</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value success">+7000</p>
            <span class="cash-box_legend">12:45pm</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/uber.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Uber</p>
            <span class="riders-box_legend">Transport</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 9800</p>
            <span class="cash-box_legend">05:10am</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box"
            ><ion-icon src="../../assets/icon/google.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Google</p>
            <span class="riders-box_legend">Tech</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 500</p>
            <span class="cash-box_legend">03: 45am</span>
          </span>
        </div>
        <div class="single-earning-detail">
          <span class="time-box"
            ><ion-icon src="../../assets/icon/facebook.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Facebook</p>
            <span class="riders-box_legend">Social media</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value success">+ 200</p>
            <span class="cash-box_legend">14:09pm</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/uber.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Uber</p>
            <span class="riders-box_legend">Transport</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 9800</p>
            <span class="cash-box_legend">05:10am</span>
          </span>
        </div>
      </div>
    </div>
    <!--  Transaction History Ends -->
  </div>
</ion-content>
