<ion-header class="ion-no-border"> </ion-header>

<ion-content>
  <div class="main-container modal">
    <!-- Page Navigation Information -->
    <div class="modal_section navigation-info">
      <span class="arrow-back-wrapper">
        <ion-icon src="../../assets/icon/arrow-back.svg"></ion-icon>
      </span>
      <span class="page-name-wrapper"> Success </span>
    </div>
    <!-- Page Navigation Information Ends -->

    <!--  Modal  -->
    <div class="modal-background"></div>
    <div class="modal_section modal">
      <div class="modal-content">
        <div class="modal-logo">
          <ion-icon src="../../assets/icon/rounded-check.svg"></ion-icon>
        </div>

        <div class="modal-msg">
          <div class="modal-msg-title">Successful</div>
          <div class="modal-msg-body">
            You have successfully completed your bill
          </div>
          <div class="modal-msg-link">Transaction ID: #IW43VFESVB</div>
        </div>

        <!-- modal button -->
        <div class="modal-actions">
          <div class="modal-button start">Go Home</div>
        </div>
        <!-- modal button Ends -->
      </div>
    </div>
    <!--  modal Ends -->
  </div>
</ion-content>
