@import url('../../theme/fonts.scss');


// Base colors
$primaryColor: #3D87FF;
$success: #34C98E;
$error: #F32323;
$dark: #1E253A;

// Gradient colors
$primaryColor: rgb(84, 141, 248);
$secondary: rgb(82, 197, 140);
$tertiary: rgb(251, 150, 94);


// Extra colors

$lavendar: #e4e7f8;
$lavendarShade: #bbd0f8;
$antiqueWhite: #f6eade;
$antiqueWhiteShade: #f8c999;
$lightcyan: #def8ed;
$lightcyanShade: #aaeace;
$linen: #f3e7e7;
$linenShade: #f3b1b0;

// Greys
$grey100: #fafafa;
$grey200: #a7aab1;
$grey300: rgba(229, 230, 233, 0.712);
$grey500: #838591;
$grey600: #1e243a;

// Typography

$extraBoldFont: 'Gilroy-ExtraBold';
$boldFont: 'Gilroy-Bold';
$mediumFont: 'Gilroy-Medium';
$regularFont: 'Gilroy-Regular';
$lightFont: 'Gilroy-Light';


// Text Colors

$infoText: #2d4ef5;
$successText: #4ce1a7;
$errorText: #e24c4d;
$headingText: #1e243a;
$bodyText: #838591;


// Text sizes

$heading: 22px;
$heading1: 20px;
$heading2: 18px;
$heading3: 16px;
$importantBodyTextSize: 14px;
$smallBodyTextSize: 12px;
$bodyTextSize: 11px;


// Dimensions

$appWidth: 327px;
$gutter: 16px;
$margin: 24px;
$columnWidth: 53px;


// Border

$activeTabBold: 1px solid $primaryColor;




$insetColor: #E5E4E2;
$insetColor1: #D3D3D3;
$insetColor2: #c3c3c3;
$insetColor3: #cfcccc67;
$insetBlkColor: #0000008a;
$secondaryColor: #eeb55f;
$borderBottom: 0.1px inset $insetColor3;
$borderBottom2: 0.01px inset $insetColor3;



.main-container {
  height: 100%;
  background-color: whitesmoke;

  &.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: $gutter 0;

    .dashboard_section {
      width: $appWidth;
      height: 20%;
      // background-color: red;

      // Profile Image
      &.profile-info {
        display: flex;
        height: 7%;
        margin: 0 0 2rem;

        .user-img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 17%;

          .user-img {
            background-image: url('../../assets/user-img.jpg');
            background-color: green;
            height: 2.5rem;
            width: 2.5rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 8px;

          }


        }

        .user-name-wrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 0.5rem;
          width: 50%;
          font-size: $heading1;
          color: $headingText;
          font-family: $boldFont;
          // background-color: yellow;
        }


        .search-bar-wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 35%;

          ion-icon {
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.4rem;
            color: $grey600;
          }
        }


      }

      // Wallet Card
      &.wallet-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $grey100;
        height: 22%;
        margin: 0 0 5rem;

        .wallet-card-slider {

          .wallet-card-wrapper {
            display: flex;
            position: relative;
            flex-direction: column;
            height: 11.5rem;
            width: $appWidth;
            border-radius: 15px;
            overflow: hidden;
            background: rgb(107, 179, 252);
            background: linear-gradient(184deg, rgba(107, 179, 252, 1) 0%, rgba(52, 90, 245, 1) 93%);


            &.visa {
              background: rgb(249, 143, 83);
              background: linear-gradient(225deg, rgba(249, 143, 83, 0.5410539215686274) 0%, rgba(246, 123, 52, 0.5662640056022409) 83%);
            }

            &.paystack {
              background: rgb(130, 232, 172);
              background: linear-gradient(225deg, rgba(130, 232, 172, 1) 0%, rgba(121, 222, 166, 0.5074404761904762) 83%);
            }

            &.mastercard {
              display: flex;
              position: relative;
              flex-direction: column;
              height: 11.5rem;
              width: $appWidth;
              border-radius: 15px;
              overflow: hidden;
              background: rgb(107, 179, 252);
              background: linear-gradient(184deg, rgba(107, 179, 252, 1) 0%, rgba(52, 90, 245, 1) 93%);
            }


            .wallet-card-background {
              content: "";
              position: absolute;
              height: 10.5rem;
              width: 10.5rem;
              border-radius: 50%;
              z-index: 1;
              bottom: -3.2rem;
              right: -0.6rem;
              background: rgb(123, 191, 252);
              background: linear-gradient(352deg, rgba(123, 191, 252, 1) 0%, rgba(118, 167, 249, 0.4822303921568627) 80%);

              &.two {
                bottom: 3rem;
                right: -4rem;
                background: rgb(123, 191, 252);
                background: linear-gradient(225deg, rgba(123, 191, 252, 1) 0%, rgba(118, 167, 249, 0.4514180672268907) 80%);
              }

            }

            .wallet-card-section {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 1.5rem;
              margin: 0.4rem 0 0;
              z-index: 1;

              &.one {

                .card-name {
                  font-family: $lightFont;
                  color: $grey300;

                }

                ion-icon {
                  height: 2rem;
                  width: 2rem;
                }
              }

              &.two {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-family: $boldFont;
                font-size: $heading;
                word-spacing: 0.1rem;

                .asterix {
                  margin-right: 0.5rem;
                  display: flex;
                  align-items: flex-end;
                  padding-top: 0.5rem;

                  &.visible {
                    padding-top: 0;
                  }
                }

              }

              &.three {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .single-earning-detail {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  // margin: 0.5rem 0;

                  .time-box,
                  .riders-box,
                  .cash-box {
                    // padding: 0.7rem 0;
                  }

                  .time-box_value,
                  .riders-box_value,
                  .cash-box_value {
                    margin: 0.4rem 0 0;
                    font-family: $boldFont;
                    font-size: $heading3;
                  }

                  .time-box_legend,
                  .riders-box_legend,
                  .cash-box_legend {
                    margin: 0;
                    font-family: $lightFont;
                    font-size: $importantBodyTextSize;
                    color: $grey300;
                  }

                  .time-box {
                    text-align: left;
                    width: 60.19%;
                  }

                  .riders-box {
                    width: 25.66%;
                    text-align: left;
                  }

                  .cash-box {
                    text-align: right;
                    width: 20.15%;
                  }

                }

              }
            }
          }
        }

        // Wallet Indicator
        .wallet-card-indicator {
          display: flex;
          align-items: center;
          margin-top: 1rem;

          .icon-outer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0.75rem;
            width: 0.75rem;
            margin: 0.2rem 0.2rem 0;
            border-radius: 50%;
            border: $activeTabBold;

            &.active {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 1.3rem;
              width: 1.3rem;
              margin: 0 0.2rem;
              border-radius: 50%;
              border: $activeTabBold;

              .icon-inner {
                height: 0.7rem;
                width: 0.7rem;
                border-radius: 50%;
                background-color: $primaryColor;
              }
            }

          }
        }

      }

      // Small Cards
      &.small-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14%;
        margin-bottom: 2rem;

        .small-card-single {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $grey200;
          height: 100%;
          width: 5rem;
          margin: 0 0.3rem;
          border-radius: 8px;
          font-size: $importantBodyTextSize;

          ion-icon {
            height: 2.3rem;
            width: 2.3rem;
            margin: 0.6rem 0 0;
            color: $dark;
          }

          .small-card-name {
            margin: 0.4rem 0 0.6rem;
            color: $dark;
            font-family: $mediumFont;
          }

          &.one {
            background-color: $lavendar;

            ion-icon {
              color: $lavendarShade;
            }
          }

          &.two {
            background-color: $antiqueWhite;

            ion-icon {
              color: $antiqueWhiteShade;
            }
          }

          &.three {
            background-color: $lightcyan;

            ion-icon {
              color: $lightcyanShade;
            }
          }

          &.four {
            background-color: $linen;

            ion-icon {
              color: $linenShade;
            }
          }
        }
      }

      // Transaction History

      &.transactions {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45%;
        // overflow-y: scroll;


        .transactions-heading {
          display: flex;
          justify-content: space-between;
          border: none;
          box-shadow: none;
          color: $dark;
          border-radius: 0;
          width: $appWidth;
          margin: 0.5rem 0 0;

          .time-box {
            font-family: $extraBoldFont;
            width: 40.19%;
            font-size: $heading;
          }

          .cash-box {
            color: $primaryColor;
          }

        }

        .transactions-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          overflow-y: scroll;

          .single-earning-detail {
            display: flex;
            align-items: center;
            width: 100%;
            color: black;
            margin: 0.5rem 0;
            background-color: white;
            border-radius: 10px;
            box-shadow: -4px 0px 16px 11px rgba(238, 242, 242, 0.45);






            .time-box,
            .riders-box,
            .cash-box {
              padding: 0.7rem 0;
            }

            .time-box_value,
            .riders-box_value,
            .cash-box_value {
              margin: 0 0 0.3rem;
              font-weight: 600;
            }

            .time-box_legend,
            .riders-box_legend,
            .cash-box_legend {
              margin: 0;
              font-size: $smallBodyTextSize;
              color: $grey200;
            }

            .time-box {
              // text-align: left;
              padding-left: 0.5rem;
              width: 20.19%;

              ion-icon {
                height: 3.2rem;
                width: 3.2rem;

                svg {

                  color: #2d4ef5;
                }
              }



            }

            .riders-box {
              width: 60.66%;
              padding-left: 0.4rem;
              text-align: left;

              .riders-box_value {}

              .riders-box_legend {
                color: $insetBlkColor;
                font-size: 0.9rem;
              }
            }

            .cash-box {
              width: 20.15%;

              .cash-box_value {

                &.success {
                  color: $successText;
                }

                &.danger {
                  color: $errorText;
                }
              }

              .cash-box_legend {}
            }

          }
        }

      }
    }
  }
}
