<ion-header class="ion-no-border"> </ion-header>

<ion-content>
  <div class="main-container dashboard">
    <!-- Profile Information -->
    <div class="dashboard_section profile-info">
      <span class="user-img-wrapper">
        <span class="user-img"> </span>
      </span>
      <span class="user-name-wrapper"> Susan Rockwell </span>
      <span class="search-bar-wrapper">
        <ion-icon name="search"></ion-icon>
        <ion-icon src="../../assets/icon/more.svg"></ion-icon>
      </span>
    </div>
    <!-- Profile Information Ends -->
    <!-- Wallet Card -->
    <div class="dashboard_section wallet-card">
      <div class="wallet-card-slider">
        <ion-slides>
          <!-- First Slide -->
          <ion-slide>
            <div class="wallet-card-wrapper visa">
              <span class="wallet-card-background one"></span>
              <span class="wallet-card-background two"></span>
              <span class="wallet-card-section one">
                <p class="card-name">Shopping card</p>
                <ion-icon src="../../assets/icon/visa.svg"></ion-icon>
              </span>
              <span class="wallet-card-section two">
                <span class="asterix">****</span>
                <span class="asterix">****</span>
                <span class="asterix">****</span>
                <span class="asterix visible">3960</span>
              </span>
              <span class="wallet-card-section three">
                <div class="single-earning-detail">
                  <span class="time-box">
                    <span class="time-box_legend">CARD HOLDER</span>
                    <p class="time-box_value">SUSAN ROCKWELL</p>
                  </span>

                  <span class="riders-box">
                    <span class="riders-box_legend">EXPIRES</span>
                    <p class="riders-box_value">10/22</p>
                  </span>

                  <span class="cash-box">
                    <span class="cash-box_legend">CVV</span>
                    <p class="cash-box_value success">***</p>
                  </span>
                </div>
              </span>
            </div>
          </ion-slide>
          <!-- First Slide Ends -->
          <!-- Middle Slide -->
          <ion-slide>
            <div class="wallet-card-wrapper mastercard">
              <span class="wallet-card-background one"></span>
              <span class="wallet-card-background two"></span>
              <span class="wallet-card-section one">
                <p class="card-name">Shopping card</p>
                <ion-icon src="../../assets/icon/mastercard.svg"></ion-icon>
              </span>
              <span class="wallet-card-section two">
                <span class="asterix">****</span>
                <span class="asterix">****</span>
                <span class="asterix">****</span>
                <span class="asterix visible">3960</span>
              </span>
              <span class="wallet-card-section three">
                <div class="single-earning-detail">
                  <span class="time-box">
                    <span class="time-box_legend">CARD HOLDER</span>
                    <p class="time-box_value">SUSAN ROCKWELL</p>
                  </span>

                  <span class="riders-box">
                    <span class="riders-box_legend">EXPIRES</span>
                    <p class="riders-box_value">10/22</p>
                  </span>

                  <span class="cash-box">
                    <span class="cash-box_legend">CVV</span>
                    <p class="cash-box_value success">***</p>
                  </span>
                </div>
              </span>
            </div>
          </ion-slide>
          <!-- Middle Slide Ends -->
          <!-- Third Slide -->
          <ion-slide>
            <div class="wallet-card-wrapper paystack">
              <span class="wallet-card-background one"></span>
              <span class="wallet-card-background two"></span>
              <span class="wallet-card-section one">
                <p class="card-name">Shopping card</p>
                <ion-icon src="../../assets/icon/mastercard.svg"></ion-icon>
              </span>
              <span class="wallet-card-section two">
                <span class="asterix">****</span>
                <span class="asterix">****</span>
                <span class="asterix">****</span>
                <span class="asterix visible">3960</span>
              </span>
              <span class="wallet-card-section three">
                <div class="single-earning-detail">
                  <span class="time-box">
                    <span class="time-box_legend">CARD HOLDER</span>
                    <p class="time-box_value">SUSAN ROCKWELL</p>
                  </span>

                  <span class="riders-box">
                    <span class="riders-box_legend">EXPIRES</span>
                    <p class="riders-box_value">10/22</p>
                  </span>

                  <span class="cash-box">
                    <span class="cash-box_legend">CVV</span>
                    <p class="cash-box_value success">***</p>
                  </span>
                </div>
              </span>
            </div>
          </ion-slide>
          <!-- Third Slide Ends -->
        </ion-slides>
      </div>
      <!-- Wallet S/N indicator -->
      <div class="wallet-card-indicator">
        <span class="icon-outer">
          <span class="icon-inner"> </span>
        </span>
        <span class="icon-outer active">
          <span class="icon-inner"> </span>
        </span>
        <span class="icon-outer">
          <span class="icon-inner"> </span>
        </span>
      </div>
    </div>
    <!-- Wallet Card Ends-->
    <!-- Small Cards -->
    <div class="dashboard_section small-cards">
      <span class="small-card-single one">
        <ion-icon name="card-outline"></ion-icon>
        <p class="small-card-name">Cards</p>
      </span>
      <span class="small-card-single two">
        <ion-icon name="barcode-outline"></ion-icon>
        <p class="small-card-name">Transfer</p>
      </span>
      <span class="small-card-single three">
        <ion-icon name="bookmarks-outline"></ion-icon>
        <p class="small-card-name">Voucher</p>
      </span>
      <span class="small-card-single four">
        <ion-icon name="cash-outline"></ion-icon>
        <p class="small-card-name">Pay Bill</p>
      </span>
    </div>
    <!-- Small Cards Ends -->
    <!--  Transaction History -->
    <div class="dashboard_section transactions">
      <div class="transactions-heading">
        <span class="time-box"> Transactions </span>

        <span class="cash-box"> See All </span>
      </div>

      <div class="transactions-content">
        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/facebook.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Facebook</p>
            <span class="riders-box_legend">Social media</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value success">+7000</p>
            <span class="cash-box_legend">12:45pm</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/uber.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Uber</p>
            <span class="riders-box_legend">Transport</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 9800</p>
            <span class="cash-box_legend">05:10am</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box"
            ><ion-icon src="../../assets/icon/google.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Google</p>
            <span class="riders-box_legend">Tech</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 500</p>
            <span class="cash-box_legend">03: 45am</span>
          </span>
        </div>
        <div class="single-earning-detail">
          <span class="time-box"
            ><ion-icon src="../../assets/icon/facebook.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Facebook</p>
            <span class="riders-box_legend">Social media</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value success">+ 200</p>
            <span class="cash-box_legend">14:09pm</span>
          </span>
        </div>

        <div class="single-earning-detail">
          <span class="time-box">
            <ion-icon src="../../assets/icon/uber.svg"> </ion-icon>
          </span>

          <span class="riders-box">
            <p class="riders-box_value">Uber</p>
            <span class="riders-box_legend">Transport</span>
          </span>

          <span class="cash-box">
            <p class="cash-box_value danger">- 9800</p>
            <span class="cash-box_legend">05:10am</span>
          </span>
        </div>
      </div>
    </div>
    <!--  Transaction History Ends -->
  </div>
</ion-content>
